.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 60px;
    min-height: 768px;
    max-width: 1024px;
    inline-size: 100%;
}
@media (width <1024px){
    .footer{
        height: 1024px;
    }
}
@media (width <768px) {
    .footer {
        min-block-size: 668px;
        margin-block-start: 40px;
    }
}