.section-gallery{
  padding-top: 40px;
}
.section-gallery__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style-type: none;
}
.section-gallery__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.section-gallery__item--horizontal {
  grid-row-start: span 2;
}

.section-gallery__item--vertical {
  grid-column-start: span 2;
}

@media (width <1024px) {
  .section-gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section-gallery__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section-gallery__item--vertical {
    grid-column-start: span 2;
  }

  .section-gallery__item--horizontal {
    grid-row-start: span 2;
  }
}
@media (width <768px) {
  .section-gallery {
  margin-block-start: 50px;
  }
  .section-gallery__list {
    display: flex;
    flex-direction: column;
  }
}
