.card-text-link {
    text-decoration: none;
    text-shadow: 2px 2px 0px var(--link-shadow);
}

.link:hover {
    border-bottom: 1px solid var(--link-border);
}

.link:focus {
    outline: none;
}

.link:focus-visible {
    outline: 1px solid var(--action-border);
}
