.page {
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--font-family);
  color: var(--font-color);
  margin: 0 auto;
  max-width: 1024px;
  background-image: var(--background-image);
  background-color: var(--background-color);
}