.page {
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--font-family);
  color: var(--font-color);
  margin: 0 auto;
  max-width: 1024px;
  background-color: var(--background-color);
}

.page__focus-text-decoration {
  margin-inline-start: -20px;
  word-spacing: 0.2rem;
  color: var(--text-color);
  text-shadow: 4px 4px 0px rgba(255, 0, 112, 1);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
}

.page__description {
  align-self: center;
  justify-self: end;
  color: var(--heading-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  inline-size: 50%;
}

@media (width <1024px) {

  .page__description {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }
}

@media (width <768px) {
  .page__description {
    justify-self: center;
    inline-size: 100%;
  }

  .page__heading {
    margin-inline-start: -2px;
  }

  .page__focus-text-decoration {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}