.page {
    background-position: relative;
    background-attachment: fixed;
    background-size: cover;
    font-family: var(--font-family);
    color: var(--font-color);
    margin: 0 auto;
    max-width: 1024px;
    background-color: rgba(0, 0, 40, 1);
    ;
}

@media (width <768px) {
    .page {
        justify-content: center;
    }
}
