.question-section {
    margin-block-start: 80px;
}

.question-section:first-of-type {
    margin-block-start: 60px;
}

.question-section--horizontal {
    display: grid;
    grid-template-columns: minmax(236px, 315px) minmax(472px, 649px);
    gap: 20px;
}

.question-section--vertical {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    .question-section__row {
        grid-column: -1/1;
        grid-row: 2/3;
    }
}

.question-section__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.question-section__heading {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.4px;
}

.question-section__heading--vertical {
    inline-size: 30%;
    justify-self: flex-start;
}

.question-section__reply-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (width <1024px) {
    .question-section__row {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: auto;
        column-gap: 0;
    }

    .question-section {
        display: grid;
    }

}

@media (width <768px) {

    .question-section {
        margin-block-start: 50px;
    }

    .question-section:first-of-type {
        margin-block-start: 40px;
    }

    .question-section__row {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .question-section--horizontal {
        grid-template-columns: none;
        grid-template-rows: min-content auto;
    }

    .question-section--vertical {
        display: flex;
        flex-direction: column;
    }
}